@import 'reset.css';

html {
  --nav-header-height: 60px;
  --content-max-width: 1400px;

  --border-large: 4px solid hsl(23deg 67% 68%);
  --border-small: 2px solid hsl(23deg 67% 68%);

  --font-small: calc(10px / 1rem);
  --font-normal: calc(16px / 1rem);

  --radius-large: 16px;
  --radius-small: 10px;

  --padding-main: 32px;
  
  --shadow-main: 8px 11px 30px 1px rgba(0,0,0,0.20);

  --z-idx-background: -1;
  --z-idx-content: 0;
  --z-idx-nav: 1;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: var(--font-normal);
  font-weight: 400;
  color:  white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #app {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

h1, h2, h3, h4 {
  color: white;
  font-weight: 700;
}

h1 {
  text-align: center;
  font-size: calc(2.5rem + 1.7vw);
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.g-flex-centered {
  display: flex;
  align-items:  center;
  justify-content: center;
  height: 100%;
}

.g-max-width-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  max-width: var(--content-max-width);
  min-height: calc(100vh - var(--nav-header-height));
}

.g-link-padded {
  padding: 6px 10px;
  border: 2px solid var(--color-primary);
  border-radius: var(--radius-small);
  width: max-content;

  &:hover {
    color: var(--color-primary);
    outline: 1px solid var(--color-primary);
  }
}

.g-text-centered {
  text-align: center;
}

.g-unstyled-button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
  color: inherit;

  &:focus {
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}